* {
  margin: 0;
  padding: 0;
}

html {
  font-size: 16px;
}

body {
  font-family: sans-serif;
}

.responsive {
  max-width: 100%;
  width: 100%;
  display: block;
  height: auto;
}

.up-text {
  text-transform: uppercase;
}

.container {
  overflow: hidden;
}

.bg-color {
  background-color: #6ff6eb;
}

.title {
  font-family: Montserrat-Bold;
  font-weight: 600;
  color: #606061;
  text-align: center;
}

.sub-title {
  margin-top: 15px;
  font-family: Montserrat;
  font-weight: normal;
}

.btn {
  border: none;
  background: transparent;
}

.body {
  max-width: 1440px !important;
}

.menu {
  height: 92%;
  position: absolute;
  right: 0;
  top: 0;
  z-index: 99;
  -webkit-transition: all 1s;
  transition: all 1s;
  -webkit-transform: translateX(100%);
          transform: translateX(100%);
}

.menu .menu-content {
  padding: 10% 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: #f8fafa;
  position: relative;
  height: 105%;
  width: 20vw;
  z-index: 99;
}

.menu .menu-content .close-menu {
  position: absolute;
  top: 5%;
  right: 15%;
  font-size: 20px;
}

.menu .menu-content .menu-list {
  list-style-type: none;
}

.menu .menu-content .menu-list li {
  font-family: Montserrat;
  font-size: 30px;
  margin: 40px;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

.menu .menu-content .menu-list li:hover {
  -webkit-transform: translateX(15px);
          transform: translateX(15px);
  text-decoration: line-through;
}

.menu .menu-content .menu-list li a {
  color: #424648;
  text-decoration: none;
}

.container header {
  position: relative;
  padding: 60px 150px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  max-height: 800px;
  height: 100vh;
  background-color: #eff0f2;
}

.container header .header-top {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.container header .header-top .logo {
  border: 6px solid #000000;
  padding: 9px;
}

.container header .header-top .btn-menu .line {
  margin: 4px;
  display: block;
  height: 4px;
  width: 30px;
  background-color: #606061;
}

.container header .title {
  font-size: 2rem;
  text-shadow: 2px 8px 5px #cccdcf;
}

.container header .coll .btn {
  border: 2px solid #000000;
  padding: 19px 45px;
  font-family: Montserrat;
  font-size: 0.9rem;
}

.container header .header-img {
  text-align: right;
  width: 100%;
  -webkit-filter: hue-rotate(150deg);
          filter: hue-rotate(150deg);
}

.container .modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: auto;
  top: auto;
  width: 50vw;
  height: 100%;
  overflow: auto;
}

.container .modal .modal-content {
  position: relative;
}

.container .modal .modal-content .form {
  padding: 5%;
  background-color: #fff;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.container .modal .modal-content .close {
  color: #424648;
  position: absolute;
  top: 5%;
  right: 5%;
}

.container .about {
  padding: 130px 0;
  background-color: #f8fafa;
}

.container .about .title {
  color: #323333;
  font-size: 1.6rem;
}

.container .about .title .sub-title {
  font-size: 0.9rem;
}

.container .about .wrapper {
  margin-top: 130px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[2];
      grid-template-columns: repeat(2, 1fr);
  -ms-grid-rows: 1;
      grid-template-rows: 1;
}

.container .about .wrapper .about-slider {
  margin: 0 auto;
  max-width: 50%;
  width: 500px;
  position: relative;
}

.container .about .wrapper .about-slider::before {
  position: absolute;
  top: 30px;
  bottom: 30px;
  left: -43px;
  content: "";
  background-color: #eff0f2;
  width: 43px;
}

.container .about .wrapper .about-slider::after {
  position: absolute;
  top: 30px;
  right: -43px;
  bottom: 30px;
  content: "";
  background-color: #eff0f2;
  width: 43px;
}

.container .about .wrapper .about-slider .slick-dots li button:before {
  font-size: 10px;
  color: #d0d0d0;
}

.container .about .wrapper .about-slider .slick-dots li.slick-active button:before {
  color: #71f6eb;
}

.container .about .wrapper .about-slider .sl-slide {
  height: 485px;
  width: 390px;
  position: relative;
  z-index: 90;
}

.container .about .wrapper .about-slider .sl-slide img {
  height: 485px;
  width: 390px;
  -o-object-fit: cover;
     object-fit: cover;
}

.container .about .wrapper .about-description {
  max-width: 80%;
  margin: 0 auto;
}

.container .about .wrapper .about-description :nth-child(3) {
  margin-top: 30px;
}

.container .about .wrapper .about-description .title {
  font-size: 1rem;
  color: #606061;
  text-align: left;
  margin-top: 40px;
  margin-bottom: 30px;
}

.container .about .wrapper .about-description .description {
  font-family: Raleway;
  color: #7e7f7f;
  line-height: 18px;
}

.container .works {
  padding-bottom: 125px;
  padding-left: 10%;
  padding-right: 10%;
}

.container .works .title {
  margin-top: 130px;
  font-size: 1.7rem;
}

.container .works .title .sub-title {
  font-size: 0.9rem;
}

.container .works .wrapper {
  margin: 60px auto 0 auto;
  width: 100%;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[3];
      grid-template-columns: repeat(3, 1fr);
  grid-column-gap: 15px;
  -ms-grid-rows: (1fr)[2];
      grid-template-rows: repeat(2, 1fr);
  grid-row-gap: 15px;
}

.container .works .wrapper .wrapper-content {
  cursor: pointer;
  height: 355px;
  width: 100%;
  position: relative;
  overflow: hidden;
}

.container .works .wrapper .wrapper-content:hover .works-overlay {
  -webkit-transform: translateX(0%);
          transform: translateX(0%);
}

.container .works .wrapper .wrapper-content .works-overlay {
  padding: 5%;
  text-align: justify;
  color: #fff;
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  bottom: 0;
  top: 0;
  left: 0;
  right: 0;
  background-color: rgba(133, 130, 130, 0.8);
  -webkit-transform: translateX(-101%);
          transform: translateX(-101%);
  -webkit-transition: all 0.7s ease-in;
  transition: all 0.7s ease-in;
}

.container .works .wrapper .wrapper-content img {
  height: 100%;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.container .service {
  padding: 125px 0;
  background-color: #f9fbfb;
}

.container .service .title {
  color: #000000;
  font-size: 1.7rem;
}

.container .service .title .sub-title {
  font-size: 0.9rem;
}

.container .service .grid_wrapper {
  margin: 60px auto 0 auto;
  width: 80vw;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[3];
      grid-template-columns: repeat(3, 1fr);
  grid-column-gap: 15px;
  grid-row-gap: 15px;
}

.container .service .grid_wrapper .wrapper-block {
  cursor: pointer;
  position: relative;
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
  -webkit-perspective: 1000px;
          perspective: 1000px;
  overflow: hidden;
  -webkit-transition: all 1s;
  transition: all 1s;
}

.container .service .grid_wrapper .wrapper-block:hover .service-overlay {
  -webkit-transform: translateY(0);
          transform: translateY(0);
}

.container .service .grid_wrapper .wrapper-block .service-overlay {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  color: #fff;
  padding: 5%;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.6);
  -webkit-transform: translateY(-101%);
          transform: translateY(-101%);
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

.container .service .grid_wrapper .wrapper-block .service-overlay .title {
  margin: 5% 0;
  color: #fff;
}

.container .service .grid_wrapper .wrapper-block .service-overlay .more {
  font-family: Raleway-Medium;
  font-size: 0.9rem;
  margin: 45px 0;
  padding: 5px;
  text-decoration: none;
  color: #fff;
  border: 1px solid rgba(255, 255, 255, 0);
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

.container .service .grid_wrapper .wrapper-block .service-overlay .more:hover {
  color: #fff;
  text-decoration: none;
  border: 1px solid #fff;
}

.container .service .grid_wrapper .wrapper-block .service-overlay .more .fas {
  margin-left: 14px;
}

.container .service .grid_wrapper .wrapper-block img {
  height: 100%;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.container .service .grid_wrapper .wrapper-block .service-front {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  right: 0;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
  -webkit-transition: all 1s;
  transition: all 1s;
}

.container .service .grid_wrapper .wrapper-block .service-back {
  padding: 5%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background-color: #6ff6eb;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
  -webkit-transform: rotateY(180deg);
          transform: rotateY(180deg);
  -webkit-transition: all 1s;
  transition: all 1s;
}

.container .service .grid_wrapper .wrapper-block .service-back .title {
  margin: 5% 0;
  text-align: left;
}

.container .service .grid_wrapper .wrapper-block .service-back .close .fas {
  color: #44948d;
  font-size: 1rem;
}

.container .service .grid_wrapper .wrapper-block_1 {
  height: 420px;
  -ms-grid-column: 1;
      grid-column-start: 1;
  grid-column-end: 3;
}

.container .service .grid_wrapper .wrapper-block_2 {
  height: 420px;
  -ms-grid-column: 3;
      grid-column-start: 3;
  grid-column-end: 4;
}

.container .service .grid_wrapper .wrapper-block_3 {
  height: 372px;
  -ms-grid-column: 1;
      grid-column-start: 1;
  grid-column-end: 3;
}

.container .service .grid_wrapper .wrapper-block_4 {
  height: 372px;
  -ms-grid-column: 3;
      grid-column-start: 3;
  grid-column-end: 4;
}

.container .service .grid_wrapper .wrapper-block_5 {
  height: 372px;
  -ms-grid-column: 1;
      grid-column-start: 1;
  grid-column-end: 2;
}

.container .service .grid_wrapper .wrapper-block_6 {
  height: 372px;
  -ms-grid-column: 2;
      grid-column-start: 2;
  grid-column-end: 4;
}

.container .team {
  padding: 100px;
}

.container .team .title {
  font-size: 27px;
}

.container .team .title .sub-title {
  font-size: 14px;
}

.container .team .team_wrapper {
  padding-top: 120px;
  margin: 60px auto 0 auto !important;
  width: 100%;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[3];
      grid-template-columns: repeat(3, 1fr);
  grid-gap: 15px;
}

.container .team .team_wrapper .wrap_block {
  overflow: hidden;
  position: relative;
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}

.container .team .team_wrapper .wrap_block:hover {
  -webkit-box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
          box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
}

.container .team .team_wrapper .wrap_block:hover .block_said {
  -webkit-transform: translateY(0);
          transform: translateY(0);
}

.container .team .team_wrapper .wrap_block img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.container .team .team_wrapper .wrap_block .block_said {
  padding: 40px;
  text-align: left;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  height: 30%;
  position: absolute;
  bottom: 5%;
  left: 5%;
  right: 5%;
  background-color: #6ff6eb;
  -webkit-transform: translateY(120%);
          transform: translateY(120%);
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}

.container .team .team_wrapper .wrap_block .block_said .arrow {
  position: absolute;
  top: -20px;
  border-left: 22px solid transparent;
  border-right: 22px solid transparent;
  border-bottom: 22px solid #6ff6eb;
}

.container .team .team_wrapper .wrap_block .block_said .name-team {
  font-family: Merriweather-Bold;
  font-size: 16px;
}

.container .team .team_wrapper .wrap_block .block_said .name-team .name-post {
  font-family: Merriweather-Regular;
  font-size: 12px;
  color: #767978;
}

.container .team .team_wrapper .wrap_block .block_said .team-said {
  font-family: Merriweather-Regular;
  font-size: 12px;
}

.container .team .team_wrapper .wrap_block .block_said .social-list {
  list-style-type: none;
}

.container .team .team_wrapper .wrap_block .block_said .social-list .list-item {
  display: inline-block;
  margin: 0 7px;
}

.container .team .team_wrapper .wrap_block .block_said .social-list .list-item a {
  color: #767978;
}

.container .speak {
  padding: 120px 0;
  background-color: #f9fbfb;
}

.container .speak .title {
  font-size: 28px;
}

.container .speak .title .sub-title {
  font-size: 14px;
}

.container .speak .speak-slider {
  margin-top: 120px;
}

.container .speak .speak-slider .slick-prev {
  width: 50px;
  height: 50px;
  top: 100%;
  left: 85%;
  background-color: #ffffff;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  border-radius: 7px;
}

.container .speak .speak-slider .slick-prev:hover {
  background-color: #6ff6eb;
}

.container .speak .speak-slider .slick-prev::before {
  content: '';
  border: solid black;
  border-width: 0 3px 3px 0;
  display: inline-block;
  padding: 3px;
  transform: rotate(135deg);
  -webkit-transform: rotate(135deg);
}

.container .speak .speak-slider .slick-next {
  width: 50px;
  height: 50px;
  top: 100%;
  right: 7%;
  background-color: #ffffff;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  border-radius: 7px;
}

.container .speak .speak-slider .slick-next:hover {
  background-color: #6ff6eb;
}

.container .speak .speak-slider .slick-next::before {
  content: '';
  border: solid black;
  border-width: 0 3px 3px 0;
  display: inline-block;
  padding: 3px;
  transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
}

.container .speak .speak-slider .slick-dots {
  bottom: -40px;
  width: 37%;
}

.container .speak .speak-slider .slick-dots .slick-active button::before {
  color: #6ff6eb;
}

.container .speak .speak-slider .slick-dots li button::before {
  color: #606061;
  font-size: 12px;
}

.container .speak .speak-slider .sl-speak {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.container .speak .speak-slider .sl-speak .speaker-photo {
  position: relative;
}

.container .speak .speak-slider .sl-speak .speaker-photo::before {
  position: absolute;
  top: 25px;
  bottom: 25px;
  left: -35px;
  content: "";
  width: 35px;
  background-color: #eaebed;
}

.container .speak .speak-slider .sl-speak .speaker-photo::after {
  position: absolute;
  top: 25px;
  bottom: 25px;
  right: -35px;
  content: "";
  width: 35px;
  background-color: #eaebed;
}

.container .speak .speak-slider .sl-speak .speaker-said {
  margin: 0 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 250px;
  text-align: center;
  width: 40%;
  padding: 70px 40px;
  background-color: #eaebed;
}

.container .speak .speak-slider .sl-speak .speaker-said .name-team {
  font-family: Merriweather-Bold;
  font-weight: bold;
}

.container .speak .speak-slider .sl-speak .speaker-said .name-team .name-post {
  font-family: Merriweather-Regular;
  font-weight: normal;
}

.container .speak .speak-slider .sl-speak .speaker-said .team-said {
  font-family: Raleway;
  line-height: 20px;
  margin: 30px 0;
}

.container .speak .speak-slider .sl-speak .speaker-said .rating .fas {
  color: #323333;
}

.container .speak .speak-slider .sl-speak .speaker-said .rating .checked {
  color: #f2da3b;
}

.container .logo {
  padding: 110px 130px;
}

.container .form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  padding: 22px;
  margin: 0 13px;
  background-color: rgba(2, 22, 35, 0.7);
}

.container .form .form-label {
  padding: 15px 5px;
  width: 100%;
  border: none;
  border-bottom: 1px solid #586974;
  background: transparent;
  resize: none;
}

.container .form .form-massage {
  font-family: Raleway;
  border: none;
}

.container .form .btn-send {
  color: #2e6b66;
  padding: 20px 30px;
  background-color: #6eeee4;
  border: none;
  font-family: Montserrat;
  font-weight: 900;
}

.container .contact {
  padding: 10% 10%;
  background-image: url(/img/christmas_snow_trees-wide.png);
  background-size: cover;
  background-position: top;
}

.container .contact .contact-wrap {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[2];
      grid-template-columns: repeat(2, 1fr);
}

.container .contact .contact-wrap .address {
  color: #ffffff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 22px;
  margin: 0 13px;
  background-color: rgba(2, 22, 35, 0.7);
}

.container .contact .contact-wrap .address .address-bottom {
  margin: 30px 0;
}

.container .contact .contact-wrap .address .map {
  width: 100%;
}

.container footer {
  padding: 10% 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: #262b2e;
  color: #8a8c8d;
}

.container footer .title {
  color: #dfe0e0;
}

.container footer .footer-list {
  list-style-type: none;
}

.container footer .footer-list li {
  line-height: 40px;
  text-align: center;
  width: 45px;
  height: 40px;
  margin: 19px 4px 40px 4px;
  display: inline-block;
  background-color: #424648;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

.container footer .footer-list li:hover {
  background-color: #6eeee4;
}

.container footer .footer-list li:hover a {
  color: #081e1c;
}

.container footer .footer-list li a {
  width: 100%;
  height: 100%;
  color: #bbb8b9;
}
/*# sourceMappingURL=style.css.map */